body {
    font-family: Cabin, Arial, sans-serif;
    line-height: 1.35;
    padding: 5px 25px 5px 25px;
}

/* splash styling                             */

#splash {
  display: inline-block;
  width: 80%;
  margin: 5% 12% 0 12%;
}

#name {
  display: inline-block;
  float: left;
  width: 25%;
  padding: 25px;
  border-right: 7px solid #1B5790;
  font-size: 2.5em;
}

.quote {
  display: inline-block;
  font-size: 1.3em;
  font-family: fantasy;
  padding: 35px 25px 10px 25px;
  margin: 2% 0 0 7%;
  width: 40%;
  background-color: #d1deea;
  border-radius: 25px;
}

.author {
  padding: 0;
  font-style: italic;
  font-size: .9em;
  text-align: right;
  font-family: sans-serif;
}

#albert {
  background-color: #90B557;
}

#branch {
  margin: -2% 0 0 20%;
  background-color: #E1DFD2;
}

#letsGo {
  display: inline-block;
  margin: 4% 15% 0 5%;
  width: 80%;
  border-radius: 15px;
  border: 0;
  box-shadow: 10px 10px 5px #E1DFD2;
  padding: 15px;
  font-size: 2em;
  background-color: #83acd6;
}

#letsGo:hover {
  box-shadow: 10px 10px 5px #a9a79c;
  background-color: #6d8fb3;
  cursor: pointer;
}

#contactB {
  display: inline-block;
  margin: 2% 15% 0 65%;
  width: 25%;
  border-radius: 8px;
  border: 0;
  box-shadow: 10px 10px 5px #E1DFD2;
  padding: 7px;
  font-size: 1.25em;
  background-color: #90B557;
}

#contactB:hover {
  box-shadow: 10px 10px 5px #a9a79c;
  background-color: #749443;
  cursor: pointer;
}

/* navigation styling                             */
nav {
  display: inline-block;
  width: 80%;
  margin: 10% 10% 8% 10%;
  padding: 25px;
  background-color: #E1DFD2;
}

nav h1 {
  margin: 10px;
}

.org {
  display: inline-block;;
  background: white;
  float: left;
  padding: 20px;
  margin: 7px 25px;
  height: 80px;
  width: 38%;
  box-shadow: 7px 7px 3px #a2a197;
  font-family: sans-serif;
  text-align: center;
  color: #1B5790;
  opacity: .65;
}

.org:hover {
  opacity: 1;
  cursor: pointer;
}

.clicked {
  position: relative;
  left: 2px;
  top: 2px;
  opacity: 1;
}

.org img {
  display:inline-block;
  float: left;
  padding: 5px;
  max-height: 80px;
  max-width: 150px;
}

.photo img {
  margin-left: 40px;
}

/* contact info                             */

#contBox {
  border-radius: 60px 0 0 60px;
  border: 0;
  padding: 25px 0 25px 55px;
  background-color: #E1DFD2;
}

#contBox table {
  margin-left: 35px;
}

.contactItem {
  width: 25%;
  height: 60px
  padding: 20px;
  align: center;
}

.spriteBox {
  background-image: url(Images/CommonIcons.jpg);
  float: left;
  height: 80px;
  width: 80px;
  margin: 5px 10px 0 0;
}

#ci1 {
  background-position: 0 0;
}

#ci2 {
  background-position: 80px 0;
}

#ci3 {
  background-position: 160px 0;
}

#ci1:hover {
  background-position: 0 80px;
}

#ci2:hover {
  background-position: 80px 80px;
}

#ci3:hover {
  background-position: 160px 80px;
}

/* summary styling                     */

#skills {
  column-count: 2;
  column-gap: 40px;
  margin-left: 40px;
}

#skills li:first-letter {
  color: darkblue;
}

#skills li:nth-child(even) {
  background-color: #E1DFD2;
}

/* main general styling                     */

main h1 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 1px;
    font-size: 200%;
    font-weight: bold;
}

main h2 {
    text-align: left;
    background-color: #1B5790;
    color: white;
    padding: 15px 0 5px 40px;
    font-size: 150%;
    font-weight: bold;
    font-variant: small-caps;
    border-radius: 25px 0 0 25px;
}

h3 {
    padding: 15px 0 3px 200px;
    font-size: 150%;
    font-weight: bold;
    color: white;
    font-variant: small-caps;
    background-color: #90B557;
    border-radius: 25px 0 0 25px;
}

h4 {
    font-size: 125%;
    color: #1B5790;
}

h5 {
  font-size: 20px;
  color: #1B5790;
  text-align: center;
}

p {
  margin-top: 5px;
}

aside {
  float: left;
  padding: 0 10px 0 10px;
  width: 240px;
  text-align: center;
}

aside img {
  margin: auto;
  width: 80%;
}

aside p {
  text-align: center;
  color: grey;
  font-style: italic;
}

li {
  list-style: disc outside none;
  margin-left: 0;
  padding-left: .5em;
  margin-top: .3em;
}

.job li:hover {
  background-color: #E1DFD2;
}

h4.follower {
  border-top-style: solid;
  border-width: 1px;
  border-color: #E1DFD2;
  padding-top: 10px;
}

.job {
  overflow: auto;
  padding-left: 15px;
  border-left: 1px solid lightgrey;
}

.dates-worked {
  color: grey;
}

#other img {
  display: block;
    margin-top: 35px;
    width: auto;
    height: 50%;
}

/* education styling                     */

#education article {
  column-count:2;
}

#education img {
  display: block;
    margin: auto;
    width: auto;
}

#education p {
  text-align: center;
}

#education.follower {
  break-before: column;
}

main h2 .back {
  background-color: #1B5790;
}

main h3 .back {
  background-color: #90B557;
}

main h2 .back:hover {
  background-color: #83acd6;
  margin-top: -2px;
}
main h3 .back:hover {
  background-color: #749443;
  margin-top: -2px;
}

/* general                             */

.hide {
  visibility: hidden;
}

.back {
  float: right;
  margin: -4px 15px 25px 0;
  font-size: .65em;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  padding: 3px;
  border: 2px solid #E1DFD2;
  color: #E1DFD2;
}
